@import "../../variables.scss";
.header {
  background-color: $c-green;
}

// .headerWrapper {
//   max-width: 1210px;
//   margin: 0 auto;
// }

.navWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1210px;
  margin: 0 auto;
  padding: 40px 20px;
  border: 2px solid rgb(255, 142, 127);
}
// .logoWrap {
// }
.logo {
  margin-right: 10px;
}
.navigationList {
  display: flex;
  // list-style: none;

  :last-child {
    margin: 0;
  }
}
.navigationListItem {
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
  color: $c-textDark;
}
