.NavbarItems {
  max-width: 1210px;
  margin: 0 auto;
}
@media screen and(max-width: 768px) {
  .NavbarItems {
    display: none;
  }
}
.nav-menu {
  display: flex;
  gap: 50px;
  justify-content: space-between;

  list-style: none;
}
.nav-menu :last-child {
  padding-right: 10px;
  border-right: none;
  border-top: none;

  border-color: transparent;
}

.nav-menu :first-child {
  padding-left: 10px;
  border-left: none;
  border-top: none;
  border-color: transparent;
}

.li {
  padding: 5px 30px;
  transition: 0.3s;
  border: 1px solid;
  border-color: transparent;
}

.li:hover {
  //   background-color: var(--c-hoverGreen);
  border-left: 1px solid var(--c-orange);
  border-right: 1px solid var(--c-orange);
  border-bottom: 1px solid var(--c-orange);
}
.li:last-of-type:hover {
  //   background-color: var(--c-hoverGreen);
  border: 1px solid var(--c-orange);
  border-right: none;
  border-top: none;
}
.li:first-of-type:hover {
  //   background-color: var(--c-hoverGreen);
  border: 1px solid var(--c-orange);
  border-left: none;
  border-top: none;
}

.nav-Links {
  font-size: 20px;
  font-weight: 500;
  color: var(--c-orange);
  text-decoration: none;
}
