* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.wrapper {
  max-width: 1440px;

  margin: 0 auto;
}

:root {
  --c-green: #10b582;
  --c-hoverGreen: #2b9674;
  --c-orange: #fa9f42;
  --c-orangeSoft: #fda247;
  --c-hoverOrange: #e68d34;
  --c-red: #d62d21;
  --c-hoverRed: #b9251a;
  --c-white: #e5e5e5;
  --c-textDark: #353a5a;
  --c-modalBack: rgba(0, 0, 0, 0.425);
  --c-modalBackShadow: rgba(114, 3, 3, 0.596);
}
